services:
  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    expose:
      - "5432"

  app:
    image: ghcr.io/eduardSie/eventhub:latest
    restart: always
    depends_on:
      db:
        condition: service_healthy
    env_file: .env
    ports:
      - "80:8000"  

volumes:
  db_data: